.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem
}

@media (min-width: 1400px) {
  .container {
    max-width: 1400px
  }
}

.visible {
  visibility: visible
}

.collapse {
  visibility: collapse
}

.static {
  position: static
}

.relative {
  position: relative
}

.mx-auto {
  margin-left: auto;
  margin-right: auto
}

.block {
  display: block
}

.grid {
  display: grid
}

.hidden {
  display: none
}

.h-12 {
  height: 3rem
}

.w-12 {
  width: 3rem
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.rounded-xl {
  border-radius: 0.75rem
}

.p-8 {
  padding: 2rem
}

.italic {
  font-style: italic
}

.underline {
  text-decoration-line: underline
}

.line-through {
  text-decoration-line: line-through
}

.invert {
  --tw-invert: invert(100%);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

@keyframes enter {
  from {
    opacity: var(--tw-enter-opacity, 1);
    transform: translate3d(var(--tw-enter-translate-x, 0), var(--tw-enter-translate-y, 0), 0) scale3d(var(--tw-enter-scale, 1), var(--tw-enter-scale, 1), var(--tw-enter-scale, 1)) rotate(var(--tw-enter-rotate, 0))
  }
}

@keyframes exit {
  to {
    opacity: var(--tw-exit-opacity, 1);
    transform: translate3d(var(--tw-exit-translate-x, 0), var(--tw-exit-translate-y, 0), 0) scale3d(var(--tw-exit-scale, 1), var(--tw-exit-scale, 1), var(--tw-exit-scale, 1)) rotate(var(--tw-exit-rotate, 0))
  }
}

@media (min-width: 768px) {
  .md\:px-24 {
    padding-left: 6rem;
    padding-right: 6rem
  }
}
